#flockster-start-chat {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: cadetblue;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#flockster-chat-pop-up {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 300px;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.flockster-header {
   position: relative;
   width: 100%;
   height: 50px;
   background-color: gray;
}

.flockster-content {
    width: 95%;
    height: 200px;
    overflow: scroll;
    padding: 2.5% 2.5% 2.5% 2.5%; 
}

.flockster-footer {
   height: 50px;
}

.flockster-header.minimized.should-blink.blink {
    background-color: lightgreen;
}

.flockster-content.minimized {
    display: none;
}

.flockster-footer.minimized {
    display: none;
}

.flockster-text-input {
    width: 80%;
    height: 100%;
    resize: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 14px;
}

.flockster-send-button {
    position: absolute;
    height: 50px;
    width: 20%;
    bottom: 0px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.flockster-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px; 
    text-align: center;
    font-size: 12px;
}

.flockster-content .message {
    /*width: 290px;*/
    word-wrap: break-word;
    border-radius: 8px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.flockster-content .message.outgoing {
    background-color: green;
    color: white;
    margin-left: 50px;
    margin-right: 5px;
}

.flockster-content .message.incoming {
    background-color: lightblue;  
    margin-left: 5px;
    margin-right: 50px;
}

.flockster-content .message .label {

}

.flocckster-content .message .text {

}

.flockster-content .welcome-message {
    text-align: center;
    padding: 5px 5px;
}
